html {
  background-color: blue;
}

body {
  width: 60%;
  margin: 0 auto;
  background-color: lawngreen;
  border: 5px solid black;
}

img {
  border-radius: 100%;
  border: 10px groove gold;
  display: block;
  margin: 0 auto;
}

.h1 {
  color: deepskyblue;
}

.h2 {
  color: orangered;
}
